[gcode_macro _CLIENT_VARIABLE]
    # Printer
    variable_adaptive_bed   : True  ; Erzeugt bei jedem Start ein Adaptives Bed Mesh
    variable_preheat_temp   : 170   ; Temperatur zum Vorheizen der Düse ohne Oozing zu verursachen

    # Purge and Park
    variable_purge_height   : 0.8   ; Z position of nozzle during purge, default is 0.8.
    variable_tip_distance   : 18    ; Distance between tip of filament and nozzle before purge. Should be similar to PRINT_END final retract amount.
    variable_purge_margin   : 10    ; Distance the purge will be in front of the print area, default is 10.
    variable_purge_amount   : 30    ; Amount of filament to be purged prior to printing.
    variable_flow_rate      : 12    ; Flow rate of purge in mm3/s. Default is 12.
    variable_z_height       : 2     ; Z position for Smart Park, default is 10.
    variable_purge_length   : 200   ; filament extrude amount during load sequence, hotend purge from old filament, default is 200
    variable_purge_speed    : 450   ; filament extrude speed in mm/min adjust this value lower if flow is too high and extruder skips during loading, default is 300

    # Mainsail Variablen
    variable_use_custom_pos   : False ; use custom park coordinates for x,y [True/False]
    variable_custom_park_x    : 50   ; custom x position; value must be within your defined min and max of X
    variable_custom_park_y    : 190   ; custom y position; value must be within your defined min and max of Y
    variable_custom_park_dz   : 20   ; custom dz value; the value in mm to lift the nozzle when move to park position
    variable_retract          : 18   ; the value to retract while PAUSE
    variable_cancel_retract   : 18   ; the value to retract while CANCEL_PRINT
    variable_speed_retract    : 35.0  ; retract speed in mm/s
    variable_unretract        : 18   ; the value to unretract while RESUME
    variable_speed_unretract  : 45.0  ; unretract speed in mm/s
    variable_speed_hop        : 100.0  ; z move speed in mm/s
    variable_speed_move       : 300.0 ; move speed in mm/s
    variable_park_at_cancel   : True ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
    variable_park_at_cancel_x : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
    variable_park_at_cancel_y : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
    variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
    variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
    variable_runout_sensor    : "filament_switch_sensor runout_sensor"    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.

    variable_user_pause_macro : "COOLDOWN_ON_PAUSE"    ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
    variable_user_resume_macro: "BEFORE_RESUME"    ; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
    variable_user_cancel_macro: ""    ; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function

    gcode: